@import 'variables';

.image-popout {

    & .lightbox-image {
        flex: 1 !important;
    }

    & .blurb-container {
        flex: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $color-white-text;
        padding: 15px 25px 5px 25px;
    }
}